* {
  font-family: "MS Gothic";
  color: #000022;
}
body {
  margin: 1rem;
}
h1 {
  margin: -1rem;
  margin-bottom: 0em;
  padding: 1rem;
  color: #FFFFFF;
  background-color: #000022;
}
input.filter {
  box-sizing: border-box;
  width: 322px;
  min-width: 240px;
  font-size: 1.2rem;
}
.github {
  float: right;
  margin-top: 1rem;
  padding: 4px 12px;
  border-radius: 8px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #000022;
}
.filter-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.keys {
  display: inline-flex;
}
.keys .octave {
  display: inline-flex;
}
.keys .octave .key {
  display: inline-flex;
  border-color: #111144;
  border-style: solid;
  border-width: 0.5px;
  box-sizing: border-box;
  justify-content: center;
}
.keys .octave .key.c,
.keys .octave .key.d,
.keys .octave .key.e,
.keys .octave .key.f,
.keys .octave .key.g,
.keys .octave .key.a,
.keys .octave .key.b {
  background-color: #F8F8F8;
  height: 75px;
  width: 23px;
}
.keys .octave .key.c.mark,
.keys .octave .key.d.mark,
.keys .octave .key.e.mark,
.keys .octave .key.f.mark,
.keys .octave .key.g.mark,
.keys .octave .key.a.mark,
.keys .octave .key.b.mark {
  background-color: #F88888;
}
.keys .octave .key.c.mark::after,
.keys .octave .key.d.mark::after,
.keys .octave .key.e.mark::after,
.keys .octave .key.f.mark::after,
.keys .octave .key.g.mark::after,
.keys .octave .key.a.mark::after,
.keys .octave .key.b.mark::after {
  border-color: #111144;
}
.keys .octave .key.cs,
.keys .octave .key.ds,
.keys .octave .key.fs,
.keys .octave .key.gs,
.keys .octave .key.as {
  background-color: #111144;
  height: 47.5px;
  margin-bottom: auto;
  width: 12px;
  z-index: 1;
  position: relative;
}
.keys .octave .key.cs.mark,
.keys .octave .key.ds.mark,
.keys .octave .key.fs.mark,
.keys .octave .key.gs.mark,
.keys .octave .key.as.mark {
  background-color: #991144;
}
.keys .octave .key.cs.mark::after,
.keys .octave .key.ds.mark::after,
.keys .octave .key.fs.mark::after,
.keys .octave .key.gs.mark::after,
.keys .octave .key.as.mark::after {
  border-color: #F8F8F8;
}
.keys .octave .key.cs {
  margin-left: -8px;
  margin-right: -4px;
}
.keys .octave .key.ds {
  margin-left: -4px;
  margin-right: -8px;
}
.keys .octave .key.fs {
  margin-left: -9px;
  margin-right: -3px;
}
.keys .octave .key.gs {
  margin-left: -6px;
  margin-right: -6px;
}
.keys .octave .key.as {
  margin-left: -3px;
  margin-right: -9px;
}
.keys .octave .key.mark::after {
  display: inline-block;
  border-radius: 1rem;
  width: 10px;
  height: 10px;
  margin-bottom: 4px;
  background-color: #EE4488;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  content: " ";
  align-self: flex-end;
}
.keys .octave.high .key.c.mark,
.keys .octave.high .key.d.mark,
.keys .octave.high .key.e.mark,
.keys .octave.high .key.f.mark,
.keys .octave.high .key.g.mark,
.keys .octave.high .key.a.mark,
.keys .octave.high .key.b.mark {
  background-color: #8888F8;
}
.keys .octave.high .key.cs.mark,
.keys .octave.high .key.ds.mark,
.keys .octave.high .key.fs.mark,
.keys .octave.high .key.gs.mark,
.keys .octave.high .key.as.mark {
  background-color: #4444DD;
}
.keys .octave.high .key.mark::after {
  background-color: #AA88FF;
}
.chord {
  display: inline-flex;
  flex-direction: column;
  margin: 4px;
}
.chord .name {
  font-weight: 700;
}
